<template>
  <main class="content container">
    <div class="content__top">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <router-link class="breadcrumbs__link" :to="{name: 'main'}"> Каталог </router-link>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">
            Корзина
          </a>
        </li>
      </ul>

      <h1 class="content__title">
        Корзина
      </h1>
      <span class="content__info">
        {{ totalProducts }}
      </span>
      <span class="content__info" v-if="totalProducts === 1">
        товар
      </span>
      <span class="content__info" v-else-if="totalProducts === 2 || totalProducts === 3 ||
      totalProducts === 4">
        товара
      </span>
      <span class="content__info" v-else>
        товаров
      </span>
    </div>

    <section class="cart">
      <form class="cart__form form" action="#" method="POST">
        <div class="cart__field">
          <ul class="cart__list">
            <CartItem v-for="item in products" :key="item.productId" :item="item"/>
          </ul>
        </div>

        <div class="cart__block">
          <p class="cart__desc">
            Мы&nbsp;посчитаем стоимость доставки на&nbsp;следующем этапе
          </p>
          <p class="cart__price">
            Итого: <span>{{ totalPrice | numberFormat }} ₽</span>
          </p>

          <button class="cart__button button button--primery" type="submit">
            Оформить заказ
          </button>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
import numberFormat from '@/halpers/numberFormat';
import CartItem from '@/components/CartItem.vue';
import { mapGetters } from 'vuex';

export default {
  components: { CartItem },
  setup() {

  },
  filters: {
    numberFormat,
  },
  computed: {
    ...mapGetters({ products: 'cartDetalProducts', totalPrice: 'cartTotalPrice', totalProducts: 'cartTotalProducts' }),
  },
};
</script>
