<template>
    <ul class="catalog__pagination pagination">
      <li class="pagination__item">
        <a
          class="pagination__link pagination__link--arrow"
          :class="{'pagination__link--disabled': page === 1}"
          href="#"
          aria-label="Предыдущая страница"
          @click.prevent="prev"
        >
          <svg width="8" height="14" fill="currentColor">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
        </a>
      </li>
      <li class="pagination__item" v-for="(pageNumber, index) in pages" :key="index">
        <a href="#" class="pagination__link" @click.prevent="paginate(pageNumber)"
        :class="{'pagination__link--current': pageNumber === page}">
          {{pageNumber}} </a>
      </li>
      <li class="pagination__item">
        <a
          class="pagination__link pagination__link--arrow"
          href="#"
          aria-label="Следующая страница"
          :class="{'pagination__link--disabled': page === pages}"
          @click.prevent="next"
        >
          <svg width="8" height="14" fill="currentColor">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
</template>

<script>
export default {
  props: ['page', 'count', 'perPage'],
  computed: {
    pages() {
      return Math.ceil(this.count / this.perPage);
    },
  },
  methods: {
    paginate(page) {
      this.$emit('update:page', page);
    },
    next() {
      return this.$emit('update:page', this.page + 1);
    },
    prev() {
      return this.$emit('update:page', this.page - 1);
    },
  },
};
</script>
