<template>
  <li class="cart__item product">
    <div class="product__pic">
      <router-link :to="{name: 'product', params: {id:item.product.id}}">
      <img
        :src="item.product.img + '.jpg'"
        width="120"
        height="120"
        :srcset="item.product.img + '@2x.jpg 2x'"
        :alt="item.product.title"
      />
      </router-link>
    </div>
    <h3 class="product__title">
    {{ item.product.title }}
    </h3>
    <span class="product__code"> Артикул: {{ item.productId }} </span>

    <div class="product__counter form__counter">
      <button type="button" aria-label="Убрать один товар"
      @click.prevent="deductAmount(item.productId)">
        <svg width="10" height="10" fill="currentColor">
          <use xlink:href="#icon-minus"></use>
        </svg>
      </button>

      <label for="amount">
        <input v-model.number="amount" name="count" id="amount" />
      </label>

      <button type="button" aria-label="Добавить один товар"
      @click.prevent="addAmount(item.productId)">
        <svg width="10" height="10" fill="currentColor">
          <use xlink:href="#icon-plus"></use>
        </svg>
      </button>
    </div>

    <b class="product__price">
      {{ (item.product.price * item.amount) | numberFormat }} ₽
    </b>

    <button
      class="product__del button-del"
      type="button"
      aria-label="Удалить товар из корзины"
      @click.prevent="deleteProduct(item.productId)"
    >
      <svg width="20" height="20" fill="currentColor">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </li>
</template>
<script>
import numberFormat from '@/halpers/numberFormat';
import { mapMutations } from 'vuex';

export default {
  data() {
    return {};
  },
  props: ['item'],
  filters: {
    numberFormat,
  },
  computed: {
    amount: {
      get() {
        return this.item.amount;
      },
      set(value) {
        this.$store.commit('updateCardProductAmount', { productId: this.item.productId, amount: value });
      },
    },
  },
  methods: {
    ...mapMutations({ deleteProduct: 'deleteCartProduct', addAmount: 'addAmount', deductAmount: 'deductAmount' }),
  },
};
</script>
