<template>
  <article>
      <router-link :to="{name: 'product', params: {id:product.id}}" class="catalog__pic">
        <img :src="product.img + '.jpg'"
          :srcset="product.img + '@2x.jpg 2x'"
          :alt="product.title"
        />
      </router-link>

      <h3 class="catalog__title">
        <router-link :to="{name: 'product', params: {id:product.id}}">
          {{ product.title }}
        </router-link>
      </h3>

      <span class="catalog__price"> {{ product.price | numberFormat }} ₽ </span>

      <ul class="colors colors--black">
        <li class="colors__item" v-for="(color, index) in product.colors" :key="index">
          <label class="colors__label" :for="product.title + color">
            <input
              class="colors__radio sr-only"
              type="radio"
              :value="color"
              :id="product.title + color"
            />
            <span class="colors__value" :style="{ backgroundColor: color }"
            style="border: 1px solid #d4d4d4;">
            </span>
          </label>
        </li>
      </ul>
  </article>
</template>

<script>
import goToPage from '@/halpers/gotoPage';
import numberFormat from '@/halpers/numberFormat';

export default {
  data() {
    return {
      color: '#73B6EA',
    };
  },
  filters: {
    numberFormat,
  },
  methods: {
    goToPage,
  },
  props: ['product'],
};
</script>
