<template>
      <aside class="filter">
        <h2 class="filter__title">Фильтры</h2>

        <form class="filter__form form" action="#" method="get" @submit.prevent="submit">
          <fieldset class="form__block">
            <legend class="form__legend">Цена</legend>
            <label class="form__label form__label--price" for="price_from">
              <input class="form__input" type="text" name="min-price" id="price_from"
              v-model.number="currentPriceFrom">
              <span class="form__value">От</span>
            </label>
            <label class="form__label form__label--price" for="price_to">
              <input class="form__input" type="text" name="max-price"
              id="price_to" v-model.number="currentPriceTo">
              <span class="form__value">До</span>
            </label>
          </fieldset>

          <fieldset class="form__block">
            <legend class="form__legend">Категория</legend>
            <label class="form__label form__label--select" for="choosing_category">
              <select class="form__select" type="text" name="category"
              id="choosing_category" v-model.number="currentCategoryId">
                <option value="0">Все категории</option>
                <option :value="catygory.id" v-for="catygory in categories" :key="catygory.id">
                {{ catygory.title }}</option>
              </select>
            </label>
          </fieldset>

          <fieldset class="form__block">
            <legend class="form__legend">Цвет</legend>
            <ul class="colors">
              <li class="colors__item" v-for="color in colors" :key="color.id">
                <label class="colors__label" :for="color.color + color.id">
                  <input class="colors__radio sr-only" type="radio" name="color"
                  :value="color.color" checked="" :id="color.color + color.id"
                  v-model="currentProductColor">
                  <span class="colors__value" :style="{backgroundColor: color.color}">
                  </span>
                </label>
              </li>
            </ul>
          </fieldset>

          <fieldset class="form__block">
            <legend class="form__legend">Объемб в ГБ</legend>
            <ul class="check-list">
              <li class="check-list__item">
                <label class="check-list__label" for="8gb">
                  <input class="check-list__check sr-only" type="checkbox"
                  name="volume" value="8" checked="" id="8gb">
                  <span class="check-list__desc">
                    8
                    <span>(313)</span>
                  </span>
                </label>
              </li>
              <li class="check-list__item">
                <label class="check-list__label" for="16gb">
                  <input class="check-list__check sr-only" type="checkbox"
                  name="volume" value="16" id="16gb">
                  <span class="check-list__desc">
                    16
                    <span>(461)</span>
                  </span>
                </label>
              </li>
              <li class="check-list__item">
                <label class="check-list__label" for="32gb">
                  <input class="check-list__check sr-only" type="checkbox"
                  name="volume" value="32" id="32gb">
                  <span class="check-list__desc">
                    32
                    <span>(313)</span>
                  </span>
                </label>
              </li>
              <li class="check-list__item">
                <label class="check-list__label" for="64gb">
                  <input class="check-list__check sr-only" type="checkbox"
                  name="volume" value="64" id="64gb">
                  <span class="check-list__desc">
                    64
                    <span>(313)</span>
                  </span>
                </label>
              </li>
              <li class="check-list__item">
                <label class="check-list__label" for="128gb">
                  <input class="check-list__check sr-only" type="checkbox"
                  name="volume" value="128" id="128gb">
                  <span class="check-list__desc">
                    128
                    <span>(313)</span>
                  </span>
                </label>
              </li>
              <li class="check-list__item">
                <label class="check-list__label" for="264gb">
                  <input class="check-list__check sr-only" type="checkbox"
                  name="volume" value="264" id="264gb">
                  <span class="check-list__desc">
                    264
                    <span>(313)</span>
                  </span>
                </label>
              </li>
            </ul>
          </fieldset>

          <button class="filter__submit button button--primery" type="submit">
            Применить
          </button>
          <button class="filter__reset button button--second" type="button" @click.prevent="reset">
            Сбросить
          </button>
        </form>
      </aside>
</template>

<script>
import categories from '../data/categories';
import colors from '../data/colors';

export default {
  props: ['priceFrom', 'priceTo', 'categoryId', 'color'],
  data() {
    return {
      currentPriceFrom: 0,
      currentPriceTo: 0,
      currentCategoryId: 0,
      currentProductColor: 0,
    };
  },
  computed: {
    categories() {
      return categories;
    },
    colors() {
      return colors;
    },
  },
  methods: {
    submit() {
      this.$emit('update:priceFrom', this.currentPriceFrom);
      this.$emit('update:priceTo', this.currentPriceTo);
      this.$emit('update:categoryId', this.currentCategoryId);
      this.$emit('update:color', this.currentProductColor);
    },
    reset() {
      this.$emit('update:priceFrom', 0);
      this.$emit('update:priceTo', 0);
      this.$emit('update:categoryId', 0);
      this.$emit('update:color', 0);
    },
  },
};
</script>
